
/* BODY */
body{

  text-align: center;
  font-family: 'Prompt ExtraBold', sans-serif;
  color: #EFEFEF;
  background-color: #efefef;

}


/* END OF BODY */


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* 2 columns */

@import url("");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}



/*skills fade */
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*end of skills fade */




/*collapsible */
.collapsible {
  background-color: #393E46;
  color: white;
  cursor: pointer;
  padding: 20px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  border-radius: 25px;
  margin: 20px;
}

.active, .collapsible:hover {
  background-color: #929AAB;
}

.collapsible:after {
  content: '\002B';
  color: #efefef;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}

.content {
  color: #393E46;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  padding: 0 40x;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #efefef;
border-radius: 6px;
  margin: auto;
  width: 80%;

}

/*end of collapsible */









/* NAV */
.topnav {
  background-color: #393E46;
      overflow: hidden;
      border-radius: 6px;
      margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  margin: auto;
 float: left;
 display: block;
 color: #efefef;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 border-radius: 6px;
}

/* Add an active class to highlight the current page */
.active {
 background-color: light grey;
 color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
 display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
 float: left;
 overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
 font-size: 17px;
 border: none;
 outline: none;
 color: #efefef;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
 background-color: #313E47;
 color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
 background-color: #ddd;
 color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
 display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
 .topnav a:not(:first-child), .dropdown .dropbtn {
   display: none;
 }
 .topnav a.icon {
   float: right;
   display: block;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
 .topnav.responsive .dropdown {float: none;}
 .topnav.responsive .dropdown-content {position: relative;}
 .topnav.responsive .dropdown .dropbtn {
   display: block;
   width: 100%;
   text-align: left;
 }
}
/* END OF NAV*/





.laptop{

  margin: 50px auto 50px auto;
  padding: 30px;
  width: 900px;
  height:700px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 8px;
}





.intro-text-paragraph{
float: right;

}




.logo-text{
font-size: 18px;
font-weight: 400;
}

/* TITLES*/
h1{
  margin: 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  color: #112B3C;
}
h2{
  margin: 20px;
  font-family: 'Prompt ExtraBold', sans-serif;
  font-size: 25px;
  color: #000000;
}
h3{
  margin: 20px;
  font-family: 'Prompt ExtraBold', sans-serif;
  font-size: 35px;
  color: #EFEFEF;
}
h4{
  margin: 20px;
  font-family: 'Albert Sans', sans-serif;
  font-size: 20px;
    color: #112B3C;
  }
/* END OF TITLES*/

.h3-skills{
  color: #EFEFEF;
  font-size: 20px;
}

.portfolio_images{


  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 8px;
}

.services-h2{
  color: grey;
  margin: 20px;
}

.service-paragraph{

  color: #EEEEEE;
  font-size: 18px;
  text-align: left ;
  font-weight:  400;
  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}

.service-paragraph-1{
  color: #efefef;
  font-size: 20px;
  text-align: center;



}
.skills-h2{
color: #393E46;
}

.skills-text{
  color: #EFEFEF;
  font-size: 18px;
  text-align: left;
font-weight: 400;
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;


  margin: auto;
  width: 80%;
  border: 1px;
  padding: 1px;
}
.portfolio-h2{
color: #EFEFEF;
}
.get-in-touch-h2{
color: #112B3C;
position: relative;

}
.hire-text{
  color: #393E46;
  font-size: 18px;
  text-align: left;
font-weight: 400;
  margin: auto;
  width: 80%;
  border: 3px;
  padding: 10px;
}


.h4-size{
  margin: 20px;
  color: #EFEFEF;
  font-size: 18px;

}

.h4-size-c{
  margin: 20px;
  color: #EFEFEF;
  font-size: 10px;
}

.middle-container{
  font-family: 'Prompt ExtraBold', sans-serif;
  background-color: #393E46;
border-radius: 5px;
padding-bottom: 50px;
  padding-top: 50px;
  padding-bottom: margin: auto;
  border: 3px;
  color: grey;
}
.bottom-container{
  background-color: #efefef;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 3px;


}


.skill-container{
  background-color: grey;

}


/* ICON IMAGES*/
.man{
  margin: 50px auto 50px auto;
  padding: 30px;
  width: 350px;
  height: 350px;
}
.services{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.window{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.email{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.portfolio{
  margin: 1px auto 1px auto;
  padding: 10px;
  width: 60px;
  height: 60px;
}
.id-card{
  margin: 1px auto 1px auto;
  padding: 5px;
  width: 60px;
  height: 60px;
}
/* END OF ICON IMAGES*/



.color{
  color: #DA0037;
}
.help{
  color: #3C4048;
  font-size: 22px;
text-align: center;
  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}


/* NAV BAR JUMP TO*/
#services{
  color: #000000;
  scroll-behavior: smooth;
}
#skills{
  color: #EFEFEF;
  scroll-behavior: smooth;
}
#contact{
  color: #112B3C;
  scroll-behavior: smooth;
}
/*END OF NAV BAR JUMP TO*/


/* PORTFOLIO PAGE CSS */
.portfolio-h2{
  font-size: 18px;
  font-color:#DA0037;
}






/* END OF PORTFOLIO PAGE CSS */



.submit{
  font-size: 20px;
  border-radius: 12px;
  width: 100px;
  background-color: #393E46;
  color: #EFEFEF;
  font-size: 20px;
}

.label{
  font-size: 20px;
  color: #393E46;
  margin: 20px;
}
.here a:hover{
color: black;
}
.form{
  text-align: inherit;
margin: 10px;
}

.h4-icon{
  text-align: center;
  margin: 10px;
  color: #EFEFEF;
  font-size: 18px;

}
.h4-email{
  text-align: center;
  margin: 10px;
  color: #EFEFEF;
  font-size: 18px;
}








a { color: #efefef; }

/* ABOUT PAGE CSS */
.main-about{
  background-color: #929AAB;
  border-radius: 25px;

}
.main-about-heading{
 color: #efefef;
 font-size: 35px;
 font-weight: lighter;
}
.main-about-text{
  color: #efefef;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;


  margin: auto;
  width: 80%;
  border: 1px;
  padding: 1px;

}


/* END OF ABOUT PAGE CSS */
.footer{
  color: #DA0037;
background-color: #393E46;
  margin: auto;
  width: 100%;
  border: 3px;
  padding: 10px;

}


.ecommerce{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 8px;

}

.shopify-container{


}

.shopify{
  color: #96bf48;
  margin: auto;
  width: 50%;
  border: 3px solid #96bf48;
  padding: 10px;
}

.shopify-text-w{

  color: black;
  font-size: 20px;
  text-align: left;
  font-weight: 400;
  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}

.shopify-text{


  color: black;
  font-size: 20px;
  text-align:   left;
font-weight: ;
  font-size: 18px;

  margin: auto;
  width: 80%;
  border: 5px;
  padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}




.webdesign-container{
  font-family: 'Prompt ExtraBold', sans-serif;
  background-color: #efefef;
border-radius: 5px;
  border: 3px;
  color: grey;
  margin-left: auto;
  margin-right: auto;

}


.skills-text{
  color: #393E46;
  font-size: 18px;
  text-align: left;
font-weight: 400;
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;


  margin: auto;
  width: 80%;
  border: 1px;
  padding: 1px;
}





.box-grey{
  background-color: #929AAB;
  color: #efefef;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  border: 2px solid #393E46;
  padding: 20px;
  height: 50%;
  border-radius: 10px;

}

.box-white{
  background-color: #393E46;
  color: #efefef;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  border: 2px solid #efefef;
  padding: 20px;
  height: 50%;
border-radius: 10px;
}
